jorgebucaran/fisher
gazorby/fish-finders
danhper/fish-fastdir
kidonng/preview.fish
markcial/gi
yo-goto/fish-color-check
{{ if eq .chezmoi.os "linux" -}}
wawa19933/fish-systemd
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
halostatue/fish-macos@v5.x
halostatue/fish-utils-core@v2.x
{{ end -}}
