[Unit]
Description=Vopono
After=network.target
Before=

[Service]
Environment=QBT_PROFILE=/torrents
Environment=QBT_WEBUI_PORT=9091
Environment=QBT_INTERFACE=mullvad
ExecStart=/usr/bin/vopono -v exec --forward=9091 /usr/bin/qbittorrent-nox
ExecReload=
Type=simple
Restart=on-failure
Environment=SUDO_USER=dsully

[Install]
WantedBy=default.target
RequiredBy=network.target
