{{- if .flags.work -}}
# vim:ft=fish
function deps -d "Write out Gradle dependencies."

    if set -q argv[1]
        set project $argv[1]
    else
        # Use the name of the current directory as the project name.
        set project (basename (pwd))
    end

    ./gradlew ":$project:dependencies" > "deps.$project.txt" 2>&1
end
{{- end -}}
