{{- if eq .chezmoi.os "linux" -}}
# vim:ft=fish
function dmesg --wraps dmesg

    set -l cmd (command -v dmesg)

    if test $USER != root
        command doas $cmd $argv
    else
        command $cmd $argv
    end
end
{{- end }}
