[alias]
    a = commit --amend
    aa = add --all
    amend = commit --amend
    co = checkout
    dc = diff --cached
    last = log -1 HEAD
    sync = pull --rebase
    unstage = reset HEAD --
[branch]
    autosetupmerge = true
    autosetuprebase = always
[color]
    branch = auto
    interactive = auto
    status = auto
    ui = true
[core]
    excludesfile = /Users/dsully/.gitignore
    trustctime = false
    # pager = delta --dark --file-style=box --hunk-style=plain --theme=base16
    pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
    helper = osxkeychain
[diff]
    noprefix = true
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[push]
    default = current
[rebase]
    autosquash = true
[status]
    relativePaths = true
[includeIf "gitdir:~/src/"]
    path = .gitconfig-github
[includeIf "gitdir:~/dev/linkedin/"]
    path = .gitconfig-linkedin
