# vim:ft=toml

[misc]
# Don't ask for confirmations
assume_yes = true
skip_notify = true

# Disable specific steps - same options as the command line flag
disable = [  ]

# Ignore failures for these steps
ignore_failures = [ "git_repos" ]

# Run specific steps - same options as the command line flag
only = [
    "brew_formula",
{{- if eq .chezmoi.os "darwin" }}
    "brew_cask",
{{- end }}
    "cargo",
    "custom_commands",
    "git_repos",
{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "debian")) }}
    "deb_get",
{{- end }}
{{- if eq .chezmoi.os "linux" }}
    "system",
{{- end }}
]

# Do not ask to retry failed steps (default: false)
no_retry = true

# Run inside tmux
run_in_tmux = false

# List of remote machines with Topgrade installed on them
# remote_topgrades = ["dsully-md1", "jarvis", "server", "zap"]

# Arguments to pass SSH when upgrading remote systems
#ssh_arguments = "-o ConnectTimeout=2"

# Path to Topgrade executable on remote machines
#remote_topgrade_path = ".cargo/bin/topgrade"

# Do not set the terminal title
#set_title = false

# Display the time in step titles
# display_time = true

# Cleanup temporary or old files
cleanup = true

[git]
#max_concurrency = 5
# Additional git repositories to pull
repos = [
{{- if eq .chezmoi.hostname "jarvis" }}
    "{{- .chezmoi.homeDir -}}/src/*/",
    "{{- .chezmoi.homeDir -}}/src/rust/*/",
    "{{- .chezmoi.homeDir -}}/src/neovim/*/",
    "{{- .chezmoi.homeDir -}}/src/neovim/dots/*/",
{{- else if eq .chezmoi.hostname "server" }}
    "/bits/apps/automatic/extensions/*",
    "/bits/apps/stable-diffusion-webui/extensions/*",
{{- end }}
]

# Don't pull the predefined git repos
pull_predefined = false

# Arguments to pass Git when pulling Repositories
arguments = "--rebase --autostash"

# Commands to run before anything
[pre_commands]
#"Emacs Snapshot" = "rm -rf ~/.emacs.d/elpa.bak && cp -rl ~/.emacs.d/elpa ~/.emacs.d/elpa.bak"

# Custom commands
[commands]
{{ if lookPath "rtx" -}}
"RTX Plugins" = "rtx plugins update"
{{ end -}}

{{ if lookPath "fish" -}}
"Fish Update Completions" = "fish_update_completions"
{{ end -}}

{{ if lookPath "gitrel" -}}
"GitHub Tools" = "gitrel update"
{{ end }}

[brew]
greedy_cask = true

[npm]
# Use sudo if the NPM directory isn't owned by the current user
use_sudo = true

[firmware]
# Offer to update firmware; if false just check for and display available updates
upgrade = false

[flatpak]
# Use sudo for updating the system-wide installation
use_sudo = true
