#!{{ lookPath "fish" }}

# Install JavaScript tools via volta
# vim:ft=fish

source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.00_helpers.fish"

if type -q volta

    start "Installing JavaScript tools"
    command volta install "node@21.7.1" "yarn@1.22.22" >/dev/null 2>&1

    {{ if .flags.work }}
    if not type -q npm-groovy-lint
        command volta install npm-groovy-lint >/dev/null 2>&1
    end
    {{ end }}
end
