#!{{ lookPath "fish" }}

# vim:ft=fish

set CHEZMOI_SOURCE_DIR (chezmoi source-path)
source "$CHEZMOI_SOURCE_DIR/.chezmoiscripts/.00_helpers.fish"

function move_downloads_folder
    # Move the original ~/Downloads out of the way so we can symlink
    if test -d $HOME/Downloads; and not test -L $HOME/Downloads
        info "Moving ~/Downloads to symlink into iCloud."

        mv $HOME/Downloads $HOME/Downloads.original
    end

    # For whatever reason, using symlink_Downloads.tmpl and the 'mv' doesn't work with chezmoi's state machine.
    if not test -L $HOME/Downloads
        ln -s $HOME/iCloud/Downloads
    end
end

if is_macos
    move_downloads_folder
end
