#!{{ lookPath "fish" }}

# Install JavaScript tools via volta
# vim:ft=fish

source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.00_helpers.fish"

if type -q volta
    set packages

    if not type -q node
        set -a packages node
    end

    {{ if .flags.work }}
    if not type -q npm-groovy-lint
        set -a packages npm-groovy-lint
    end
    {{ end }}

    if not test -z $packages
        start "Installing JavaScript tools"

        command volta install $packages >/dev/null 2>&1
    end
end
