#!{{ lookPath "fish" }}

# Install GitHub tools via git-rel
# vim:ft=fish
#
# Config file hash: {{ include "dot_config/gitrel/config.toml.tmpl" | sha256sum }}

source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.00_helpers.fish"

if type -q gitrel

    start "Installing GitHub tools"

    command gitrel update >/dev/null 2>&1

    echo
else
    error "'gitrel' is not installed. It should be installed via Rust Tools"
end
