#!{{ lookPath "fish" }}

# Install Python tools via rye.
# vim:ft=fish

set CHEZMOI_SOURCE_DIR (chezmoi source-path)
source "$CHEZMOI_SOURCE_DIR/.chezmoiscripts/.00_helpers.fish"

if type -q rye
    task "Installing Python tools. 🐍"

    set PACKAGES \
        'black[d]' \
        frogmouth \
        pdm \
        ruff

    for package in $PACKAGES
        sub_task "Installing $package"

        command rye install $package >/dev/null 2>&1
    end

    echo
else
    error "'rye' is not installed. It should be installed via Homebrew."
end
