#!{{ lookPath "fish" }}

{{ $hash := include "dot_config/fish/fish_plugins.tmpl" | sha256sum }}

source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.00_helpers.fish"

if type -q fisher; and test -s $HOME/.config/fish/fish_plugins

    # Set fisher install to be outside of ~/.config/fish
    # This variable is used at the top of fisher.fish
    set fisher_path $HOME/.cache/fish

    if not set -q fish_plugins_hash; or test $fish_plugins_hash != {{ $hash }}
        start "Running 'fisher update' 🐠"

        fisher update >/dev/null 2>&1

        set -U fish_plugins_hash {{ $hash }}
    end
end
