#!{{ lookPath "fish" }}

# vim:ft=fish

source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.00_helpers.fish"

if is_macos
    task "Installing macOS Tools"

    if not test -e /Library/Developer/CommandLineTools/usr/bin/git

        start "Installing Apple Developer CLI Tools. Press any key when the installation has completed."
        xcode-select --install >/dev/null 2>&1
        read -p "" -sn1
    end

    echo
end
