#!{{ lookPath "fish" }}

# vim:ft=fish
{{- $hash := include "dot_config/fish/fish_plugins.tmpl" | sha256sum -}}

source "$CHEZMOI_SOURCE_DIR/.chezmoiscripts/.00_helpers.fish"

if test $SHELL != (command -v fish)
    start "Setting up Fish 🐠"

    info "Changing default shell to fish"
    chsh -s (command -v fish)
end

if type -q fisher; and test -s $HOME/.config/fish/fish_plugins

    # Set fisher install to be outside of ~/.config/fish
    # This variable is used at the top of fisher.fish
    set fisher_path $HOME/.cache/fish

    if not set -q fish_plugins_hash; or test $fish_plugins_hash != {{ $hash }}
        start "Running 'fisher update' 🐠"

        # mkdir -p $fisher_path/completions $fisher_path/functions

        fisher update >/dev/null 2>&1

        set -U fish_plugins_hash {{ $hash }}
    end
end
