#!{{ lookPath "fish" }}

# Install Python tools via rye.
# vim:ft=fish

source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.00_helpers.fish"

if type -q rye
    task "Installing Python tools. 🐍"

    set PACKAGES \
        'black[d]' \
        frogmouth \
        pdm \
        ruff

    for package in $PACKAGES
        sub_task "Installing $package"

        command rye install -f $package >/dev/null 2>&1
    end

    sub_task "Installing ptpython REPL"
    command rye install --extra-requirement ipython --extra-requirement jedi -f ptpython >/dev/null 2>&1

    {{ if eq .chezmoi.hostname "server" -}}
    sub_task "Installing liquidctl"
    command rye install --git https://github.com/liquidctl/liquidctl -f liquidctl >/dev/null 2>&1
    {{- end }}

    echo
else
    error "'rye' is not installed. It should be installed via Homebrew."
end
