#!{{ lookPath "fish" }}

# vim:ft=fish
# Brewfile hash: {{ include (joinPath .chezmoi.homeDir ".config/Brewfile") | sha256sum }}

set CHEZMOI_SOURCE_DIR (chezmoi source-path)
source "$CHEZMOI_SOURCE_DIR/.chezmoiscripts/.00_helpers.fish"

function is_appleid_logged_in
    # Determine whether we are logged in to an Apple ID
    # (not sure if this works in case an Apple ID account exists but is logged out)
    defaults read MobileMeAccounts Accounts > /dev/null 2>&1

    return $status
end

if ensure_homebrew

    set brewfile $HOME/.config/Brewfile
    set log $HOME/.cache/brewfile.log

    task "Homebrew Packages 🍺"

    if test -f $brewfile

        command brew bundle --no-lock --no-upgrade --file=$brewfile >$log 2>&1 &
        await "Installing..."

    else
        warn "No Brewfile found, skipping Homebrew package installation."
    end

    echo
end
