#!{{ lookPath "fish" }}

# Install GitHub tools via 'released'
# vim:ft=fish
#
# Config file hash: {{ include "dot_config/released/config.toml" | sha256sum }}

source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.00_helpers.fish"

if type -q released

    start "Installing GitHub Tools"

    command released update

    echo
else
    error "'released' is not installed. It should be installed via Homebrew tap"
end
