#!{{ lookPath "fish" }}

# Install Python tools via uv

source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.00_helpers.fish"

if type -q uv
    task "Installing Python tools. 🐍"

    # set PACKAGES frogmouth
    #
    # for package in $PACKAGES
    #     sub_task "Installing $package"
    #
    #     command uv tool install --force $package >/dev/null 2>&1
    # end

    sub_task "Installing ptpython REPL"
    command uv tool install --force --with ipython --with jedi ptpython >/dev/null 2>&1

    {{ if eq .chezmoi.hostname "server" -}}
    sub_task "Installing liquidctl"
    command uv tool install --force --from git+https://github.com/liquidctl/liquidctl liquidctl >/dev/null 2>&1
    {{- end }}

    sub_task "Upgrading all tools"
    command uv tool upgrade --all >/dev/null 2>&1

    echo
else
    error "'uv' is not installed. It should be installed via Homebrew."
end
