#!{{ lookPath "fish" }}

# Various clean-up steps.

source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.00_helpers.fish"

task "Cleaning up..."

/bin/rm -rf "$HOME/.bash*"
/bin/rm -rf "$HOME/.sudo_as_admin_successful"

echo
