#!{{ lookPath "fish" }}

# vim:ft=fish

# localhost.blackd.plist.tmpl hash: {{ include (joinPath .chezmoi.workingTree "home/Library/LaunchAgents/localhost.blackd.plist.tmpl") | sha256sum }}
# localhost.maxfiles.plist.tmpl hash: {{ include (joinPath .chezmoi.workingTree "home/Library/LaunchAgents/localhost.maxfiles.plist.tmpl") | sha256sum }}
# localhost.pbcopy.plist.tmpl hash: {{ include (joinPath .chezmoi.workingTree "home/Library/LaunchAgents/localhost.pbcopy.plist.tmpl") | sha256sum }}
# localhost.pbpaste.plist.tmpl hash: {{ include (joinPath .chezmoi.workingTree "home/Library/LaunchAgents/localhost.pbpaste.plist.tmpl") | sha256sum }}

source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.00_helpers.fish"

if is_macos

    task "Installing LaunchAgents"

    set agents \
        blackd \
        pbcopy \
        pbpaste

    for agent in $agents

        sub_task $agent

        set plist "$HOME/Library/LaunchAgents/localhost.$agent.plist"

        if test -f $plist

            if command launchctl list localhost.$agent >/dev/null 2>&1
                command launchctl unload -w $plist
            end

            command launchctl load -w $plist
        end
    end
end
