#!{{ lookPath "fish" }}

source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.00_helpers.fish"

function system
    sub_task "Enable / Disable System Services"

    # Turn on screen sharing
    ask_sudo launchctl load -w /System/Library/LaunchDaemons/com.apple.screensharing.plist >/dev/null 2>&1
    ask_sudo launchctl load -w /System/Library/LaunchDaemons/com.apple.locate.plist >/dev/null 2>&1

    # Disable game center. Who uses that thing?
    ask_sudo launchctl unload -w /System/Library/LaunchAgents/com.apple.gamed.plist 2>/dev/null

    # Turn on SSH.
    ask_sudo systemsetup -setremotelogin on >/dev/null

    # Enable NTP
    ask_sudo systemsetup -setusingnetworktime on &>/dev/null

    # Disable Time Machine
    ask_sudo /usr/bin/tmutil disable

    # Show the ~/Library folder
    chflags nohidden ~/Library

    # Show the /Volumes folder
    ask_sudo chflags nohidden /Volumes

    # GateKeeper: Enable app store and identified developers
    ask_sudo spctl --master-enable
    ask_sudo spctl --enable

    #sub_task "Disable Java"

    # Remove Java preference pane which is just a symlink into Internet-Plugins
    #ask_sudo rm -f /Library/PreferencePanes/JavaControlPanel.prefPane

    # Remove Application support that is just symlinks into Internet-Plugins +
    # highest installed Oracle Java version in a file for Preference Pane checks
    # (that we just removed). Check carefully if you have anything else. I had
    # just Java subdirectory under Oracle and just the symlinks + file as
    # described above, so I could remove the whole Oracle directory.
    #ask_sudo rm -rf /Library/Application\ Support/Oracle

    # Remove the plugin itself
    # ask_sudo rm -rf /Library/Internet\ Plug-Ins/JavaAppletPlugin.plugin

    # Disable Chrome auto-updating.
    ask_sudo defaults write /Library/Preferences/com.google.Keystone.plist AutoUpdate -bool false

    sub_task "Set Energy & Sleep"

    # Sleep the computer after 15 minutes.
    ask_sudo systemsetup -setcomputersleep 15 >/dev/null 2>&1

    # Restart on power failure
    systemsetup -setrestartpowerfailure on &>/dev/null

    # Restart on freeze
    systemsetup -setrestartfreeze on &>/dev/null

    # Disable hibernation (speeds up entering sleep mode)
    ask_sudo pmset -a hibernatemode 0 &>/dev/null

    # Remove the sleep image file to save disk space
    if test -e /private/var/vm/sleepimage
        ask_sudo rm -f /private/var/vm/sleepimage

        # Create a zero-byte file instead...
        ask_sudo touch /private/var/vm/sleepimage

        # ...and make sure it can’t be rewritten
        ask_sudo chflags uchg /private/var/vm/sleepimage
    end

    # Disable the sudden motion sensor as it’s not useful for SSDs
    ask_sudo pmset -a sms 0 &>/dev/null

    sub_task "Enable Startup Chime"

    # Enable Sosumi
    ask_sudo nvram StartupMute=%00

end

if is_macos
    # TODO: Move to launchd?
    # (crontab -l || true; echo "0 * * * * ~/.cargo/bin/lolcate --all --update > /dev/null 2>&1") | crontab
    # (crontab -l || true; echo "# iCal Sucks\n@hourly /usr/bin/pkill -9 CalendarAgent") | crontab
    # (crontab -l || true; echo "# iCal Sucks\n@hourly /usr/bin/pkill -9 exchangesyncd") | crontab

    # Mount point for SMB
    {{ if not .flags.work }}
    mkdir -p $HOME/Mounts/bits
    {{ end }}

    # Dock clean up.
    find "$HOME/Library/Application Support/Dock" -name "*.db" -maxdepth 1 -delete

    echo
    task "Applying System Modifications"

    command osascript -e 'tell application "System Preferences" to quit' >/dev/null 2>&1

    system
    echo
end
