#!{{ lookPath "fish" }}

# vim:ft=fish

set CHEZMOI_SOURCE_DIR (chezmoi source-path)
source "$CHEZMOI_SOURCE_DIR/.chezmoiscripts/.00_helpers.fish"

function install_rosetta
    if not test -f /Library/Apple/usr/share/rosetta/rosetta1
        command softwareupdate --install-rosetta --agree-to-license >/dev/null 2>&1 &
        await "Installing Rosetta"
    end
end

function install_xcode_command_line_tools

    if not test -e /Library/Developer/CommandLineTools/usr/bin/git

        start "Installing Apple Developer CLI Tools. Press any key when the installation has completed."
        xcode-select --install >/dev/null 2>&1
        read -p "" -sn1
    end
end

if is_macos
    task "Installing macOS Tools"

    if is_arm64
        install_rosetta
    end

    install_xcode_command_line_tools

    echo
end
