{
  "client_id": "{{ onepasswordRead "op://Private/igpmvcs76jodfutz2od36io5iy/GDrive ID" .onepasswordAccount }}",
  "client_secret": "{{ onepasswordRead "op://Private/igpmvcs76jodfutz2od36io5iy/GDrive Secret" .onepasswordAccount }}",
}
