tap "dsully/tap"
tap "homebrew/bundle"
tap "homebrew/command-not-found"
tap "natesales/repo", "https://github.com/natesales/repo"
tap "neilotoole/sq"
brew "act"
brew "age"
brew "b3sum"
brew "bandwhich"
brew "bat"
brew "btop"
brew "cargo-binstall"
brew "cargo-llvm-cov"
brew "cargo-llvm-lines"
brew "cargo-nextest"
brew "chezmoi"
brew "choose-rust"
brew "croc"
brew "curl"
brew "dasel"
brew "direnv"
brew "dsully/tap/magic-opener"
brew "dsully/tap/released"
brew "dsully/tap/zoned"
brew "dua-cli"
brew "dust"
brew "fclones"
brew "fd"
brew "fish"
brew "fselect"
brew "fzf"
brew "gh"
brew "ghq"
brew "git"
brew "git-delta"
brew "git-lfs"
brew "git-quick-stats"
brew "git-sizer"
brew "glow"
brew "go"
brew "havn"
brew "helix"
brew "hexyl"
brew "hub"
brew "hyperfine"
brew "iperf3"
brew "ipmitool"
brew "jenv"
brew "jpeg-xl"
brew "jq"
brew "just"
brew "kondo"
brew "libgit2"
brew "lpeg"
brew "lsd"
brew "lua"
brew "luajit"
brew "macchina"
brew "moar"
brew "mtr"
brew "natesales/repo/q"
brew "neilotoole/sq/sq"
brew "neovim", args: ["HEAD"]
brew "nomino"
brew "onefetch"
brew "p7zip"
brew "procs"
brew "ripgrep"
brew "rm-improved"
brew "rsync"
brew "ruff"
brew "rustcat"
brew "rustup"
brew "rye"
brew "scc"
brew "sccache"
brew "sd"
brew "sqlite"
brew "starship"
brew "topgrade"
brew "tree"
brew "tree-sitter"
brew "typos-cli"
brew "unzip"
brew "uv"
brew "viu"
brew "vivid"
brew "volta"
brew "wget"
brew "xh"
brew "xsv"
brew "xz"
brew "yq"
brew "zellij"
brew "zoxide"
{{ if eq .chezmoi.os "darwin" -}}
{{ include (joinPath .chezmoi.workingTree ".data/homebrew/Brewfile.macos.common") -}}
{{ if .flags.personal -}}
{{ include (joinPath .chezmoi.workingTree ".data/homebrew/Brewfile.macos.home") -}}
{{ end -}}
{{ if .flags.work -}}
{{ include (joinPath .chezmoi.workingTree ".data/homebrew/Brewfile.macos.work") -}}
{{ end -}}
{{ end -}}
