[Unit]
Description=Miniflux Sidekick
After=network.target miniflux.service

[Service]
Type=simple
User=dsully
ExecStart=/home/dsully/bin/Linux/miniflux-sidekick
Restart=always

Environment="MF_ENVIRONMENT=prod"
Environment="MF_PORT=8083"
Environment="MF_LOG_LEVEL=debug"
Environment="MF_API_KEY=677rDDC2GX_0DZuEmgvbM3mejiwdZOzFX06gJJyg2fE="
Environment="MF_API_ENDPOINT=https://rss.pants.electricrain.com"
Environment="MF_KILLFILE_PATH=/home/dsully/.config/miniflux/killfile"
Environment="MF_REFRESH_INTERVAL=*/5 * * * *"
Environment="MF_KILLFILE_REFRESH_HOURS=1"

[Install]
WantedBy=multi-user.target
