[autorebase]
user = "Timmmm"
repo = "autorebase"
bin_name = "autorebase"
tag = "*"
requested = "*"
{{- if eq .chezmoi.os "linux" }}
asset_re = "autorebase-linux"
{{- else }}
asset_re = "autorebase-mac"
{{- end }}

[cargo-binstall]
user = "cargo-bins"
repo = "cargo-binstall"
bin_name = "cargo-binstall"
tag = "*"
requested = "*"
{{- if eq .chezmoi.os "linux" }}
asset_re = "x86_64-unknown-linux-musl.full"
{{- else }}
asset_re = "universal-apple-darwin.full"
{{- end }}

[cargo-nextest]
user = "nextest-rs"
repo = "cargo-nextest"
bin_name = "cargo-nextest"
tag = "*"
requested = "*"
{{- if eq .chezmoi.os "linux" }}
asset_re = "x86_64-unknown-linux-musl"
{{- else }}
asset_re = "universal-apple-darwin"
{{- end }}

[cargo-outdated]
user = "kbknapp"
repo = "cargo-outdated"
bin_name = "cargo-outdated"
tag = "*"
requested = "*"
{{- if eq .chezmoi.os "linux" }}
asset_re = "x86_64-unknown-linux"
{{- else }}
asset_re = "x86_64-apple-darwin"
{{- end }}

[cargo-sort]
user = "DevinR528"
repo = "cargo-sort"
bin_name = "cargo-sort"
tag = "*"
requested = "*"
{{- if eq .chezmoi.os "linux" }}
asset_re = "x86_64-unknown-linux"
{{- else }}
asset_re = "x86_64-apple-darwin"
{{- end }}

[checkip]
user = "jreisinger"
repo = "checkip"
bin_name = "checkip"
tag = "*"
requested = "*"
{{- if eq .chezmoi.os "linux" }}
asset_re = "linux_amd64"
{{- else }}
asset_re = "darwin"
{{- end }}

[cyme]
user = "tuna-f1sh"
repo = "cyme"
bin_name = "cyme"
tag = "*"
requested = "*"
{{- if eq .chezmoi.os "linux" }}
asset_re = "x86_64-unknown-linux"
{{- else }}
asset_re = "darwin"
{{- end }}

[diff-so-fancy]
user = "so-fancy"
repo = "diff-so-fancy"
bin_name = "diff-so-fancy"
tag = "*"
requested = "*"
asset_re = "^diff-so-fancy$"

[gdrive]
user = "glotlabs"
repo = "gdrive"
bin_name = "gdrive"
tag = "*"
requested = "*"
{{- if eq .chezmoi.os "linux" }}
asset_re = "linux"
{{- else }}
asset_re = "macos"
{{- end }}

[git-dive]
user = "gitext-rs"
repo = "git-dive"
bin_name = "git-dive"
tag = "*"
requested = "*"
{{- if eq .chezmoi.os "linux" }}
asset_re = "x86_64-unknown-linux"
{{- else }}
asset_re = "x86_64-apple-darwin"
{{- end }}

[gitnu]
user = "nguyenvukhang"
repo = "gitnu"
bin_name = "git-nu"
tag = "*"
requested = "*"
{{- if eq .chezmoi.os "linux" }}
asset_re = "x86_64-unknown-linux"
{{- else }}
asset_re = "x86_64-apple-darwin"
{{- end }}

[jfmt]
user = "scruffystuffs"
repo = "jfmt.rs"
bin_name = "jfmt"
tag = "*"
requested = "*"
{{- if eq .chezmoi.os "linux" }}
asset_re = "jfmt_x86_64-unknown-linux-gnu"
{{- else if .flags.applesilicon }}
asset_re = "jfmt_aarch64-apple-darwin"
{{- else }}
asset_re = "jfmt_x86_64-apple-darwin"
{{- end }}

{{- if eq .chezmoi.os "linux" }}
[lfs]
user = "Canop"
repo = "lfs"
bin_name = "lfs"
tag = "*"
requested = "*"
asset_re = "lfs_*.zip"
{{- end }}

[q]
user = "natesales"
repo = "q"
bin_name = "q"
tag = "*"
requested = "*"
{{- if eq .chezmoi.os "linux" }}
asset_re = "linux_amd64.tar.gz"
{{- else if .flags.applesilicon }}
asset_re = "darwin_arm64"
{{- else }}
asset_re = "darwin_amd64"
{{- end }}

[rustcat]
user = "robiot"
repo = "rustcat"
bin_name = "rcat"
tag = "*"
requested = "*"
{{- if eq .chezmoi.os "linux" }}
asset_re = "linux-x86_64"
{{- else if .flags.applesilicon }}
asset_re = "darwin-aarch64"
{{- else }}
asset_re = "darwin-x86_64"
{{- end }}

[simple-http-server]
user = "TheWaWaR"
repo = "simple-http-server"
bin_name = "simple-http-server"
tag = "*"
requested = "*"
{{- if eq .chezmoi.os "linux" }}
asset_re = "^x86_64-unknown-linux-musl-simple-http-server$"
{{- else if .flags.applesilicon }}
asset_re = "^aarch64-apple-darwin-simple-http-server$"
{{- else }}
asset_re = "^x86_64-apple-darwin-simple-http-server$"
{{- end }}
