{{ if eq .chezmoi.hostname "gpu" }}
[gdrive]
bin_name = "gdrive"
repo = "gdrive"
requested = "*"
tag = '*'
user = "glotlabs"
{{- end -}}

[checkip]
asset_re = 'darwin_amd64'
bin_name = 'checkip'
repo = 'checkip'
requested = '*'
strip = true
tag = '*'
user = 'jreisinger'

[diff-so-fancy]
asset_re = '^diff-so-fancy$'
bin_name = 'diff-so-fancy'
repo = 'diff-so-fancy'
requested = '*'
tag = '*'
user = 'so-fancy'

# vim:ft=toml
