{
  "token": "{{ onepasswordRead "op://Private/eunaqzi4hnejzbctucsojpwiva/Token" .onepasswordAccount }}",
  "secret": "{{ onepasswordRead "op://Private/eunaqzi4hnejzbctucsojpwiva/Secret" .onepasswordAccount }}"
}
