auth0/
beets/
configstore/
direnv/allow
fish/fish_variables
gdrive3
github-copilot
huggingface
jgit/
kitty/kitty_search
memestra/
op/
raycast/
repos/
syncthing
systemd/user/*.wants
systemd/user/stash.service
toot/
vopono/
zellij/auto
