#!{{ lookPath "fish" }}

# vim:ft=fish

set CHEZMOI_SOURCE_DIR (chezmoi source-path)
source "$CHEZMOI_SOURCE_DIR/.chezmoiscripts/.00_helpers.fish"

function contacts
    sub_task Contacts

    # Show first name
    # 1 = before last name
    # 2 = after last name
    defaults write NSGlobalDomain NSPersonNameDefaultDisplayNameOrder -integer 1

    # Sort by
    defaults write com.apple.AddressBook ABNameSortingFormat -string "sortingFirstName sortingLastName"

    # vCard format
    # false = 3.0
    # true = 2.1
    defaults write com.apple.AddressBook ABUse21vCardFormat -bool false

    # Enable private me vCard
    defaults write com.apple.AddressBook ABPrivateVCardFieldsEnabled -bool false

    # Export notes in vCards
    defaults write com.apple.AddressBook ABIncludeNotesInVCard -bool true

    # Export photos in vCards
    defaults write com.apple.AddressBook ABIncludePhotosInVCard -bool true
end

if is_macos
    contacts
end
