#!{{ lookPath "fish" }}

# vim:ft=fish

set CHEZMOI_SOURCE_DIR (chezmoi source-path)
source "$CHEZMOI_SOURCE_DIR/.chezmoiscripts/.00_helpers.fish"

function text_edit
    sub_task "Text Edit"

    # Use plain text mode for new TextEdit documents
    defaults write com.apple.TextEdit RichText -int 0

    # Open and save files as UTF-8 in TextEdit
    defaults write com.apple.TextEdit PlainTextEncoding -int 4
    defaults write com.apple.TextEdit PlainTextEncodingForWrite -int 4
end

if is_macos
    quit_app TextEdit
    text_edit
end
