#!{{ lookPath "fish" }}

# vim:ft=fish

source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.00_helpers.fish"

function calendar
    sub_task Calendar

    # Accepting privacy policy
    defaults write com.apple.iCal privacyPaneHasBeenAcknowledgedVersion -int 4

    # Show 7 days
    defaults write com.apple.iCal "n days of week" -int 7

    # Week starts on Sunday
    defaults write com.apple.iCal "first day of week" -int 0

    # In weekly view scroll by week. week = 1, day = 0
    defaults write com.apple.iCal "scroll by weeks in week view" -integer 1

    # work day starts at: 480 = 8 a.m.
    defaults write com.apple.iCal "first minute of work hours" -integer 480

    # work day ends at: 1.020 = 5 p.m.
    defaults write com.apple.iCal "last minute of work hours" -integer 1020

    # Number of hours displayed
    defaults write com.apple.iCal "number of hours displayed" -integer 12

    # Default calendar
    # defaults write com.apple.iCal "CalDefaultCalendar" -string "UseLastSelectedAsDefaultCalendar"

    # Display birthdays calendar
    defaults write com.apple.iCal "display birthdays calendar" -bool true

    # display holiday calendar
    defaults write com.apple.iCal "add holiday calendar" -bool true

    # Time to leave
    defaults write com.apple.iCal TimeToLeaveEnabled -bool true

    # Invitations of shared calendars in notifications
    # enabled = false
    # disabled = true
    defaults write com.apple.iCal SharedCalendarNotificationsDisabled -bool true

    # Invitations in notifications
    # enabled = false
    # disabled = true
    defaults write com.apple.iCal InvitationNotificationsDisabled -bool false

    # Time zone support
    defaults write com.apple.iCal "TimeZone support enabled" -bool true

    # Show events in year view
    defaults write com.apple.iCal "Show heat map in Year View" -bool false

    # Show week numbers
    defaults write com.apple.iCal "Show Week Numbers" -bool false

    # Open events in new windows
    defaults write com.apple.iCal OpenEventsInWindowType -bool false

    # Warn before sending invitations
    defaults write com.apple.iCal WarnBeforeSendingInvitations -bool false

    # Show sidebar
    defaults write com.apple.iCal CalendarSidebarShown -bool true

    # Show event times
    defaults write com.apple.iCal "Show time in Month View" -bool true
end

if is_macos
    quit_app Calendar
    calendar
end
