#!{{ lookPath "fish" }}

# vim:ft=fish

source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.00_helpers.fish"

function dock
    sub_task Dock

    # Turn off Spaces auto-switching
    defaults write com.apple.Dock workspaces-auto-swoosh -bool false

    # Show only open applications in the Dock
    defaults write com.apple.dock static-only -bool true

    # Wipe all (default) app icons from the Dock.
    defaults write com.apple.dock persistent-apps -array

    # Don’t show recent applications in Dock
    defaults write com.apple.dock show-recents -bool false

    # Setting the icon size of Dock items to 36 pixels for optimal size/screen-realestate
    defaults write com.apple.dock tilesize -int 36

    # Set Dock to auto-hide and remove the auto-hiding delay.
    defaults write com.apple.dock autohide -bool true
    defaults write com.apple.dock autohide-delay -float 0
    defaults write com.apple.dock autohide-time-modifier -float 0

    # Hot corners
    # Possible values:
    #  0: no-op
    #  2: Mission Control
    #  3: Show application windows
    #  4: Desktop
    #  5: Start screen saver
    #  6: Disable screen saver
    #  7: Dashboard
    # 10: Put display to sleep
    # 11: Launchpad
    # 12: Notification Center
    # 13: Lock Screen

    # Top left screen corner
    defaults write com.apple.dock wvous-tl-corner -int 0
    defaults write com.apple.dock wvous-tl-modifier -int 0

    # Top right screen corner
    defaults write com.apple.dock wvous-tr-corner -int 0
    defaults write com.apple.dock wvous-tr-modifier -int 0

    # Bottom left screen corner
    defaults write com.apple.dock wvous-bl-corner -int 0
    defaults write com.apple.dock wvous-bl-modifier -int 0

    # Bottom right screen corner
    defaults write com.apple.dock wvous-br-corner -int 0
    defaults write com.apple.dock wvous-br-modifier -int 0

    find "$HOME/Library/Application Support/Dock" -name "*.db" -maxdepth 1 -delete
end

if is_macos
    dock
end
