#!{{ lookPath "fish" }}

# vim:ft=fish

# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-accessibility.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-activity_monitor.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-audio.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-calendar.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-contacts.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-displays.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-dock.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-energy-and-sleep.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-finder.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-globals.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-google-chrome.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-keyboard.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-mac-app-store.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-mail.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-menu-bar.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-messages.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-music.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-periodic-tasks.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-photos.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-safari.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-security.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-sharing.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-siri.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-spotlight.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-terminal.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-text-edit.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-time-machine.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-trackpad.fish.tmpl" | sha256sum }}
# hash: {{ include ".chezmoiscripts/run_onchange_after_04-defaults-macos/run_onchange_after_04-defaults-macos-xcode.fish.tmpl" | sha256sum }}

set CHEZMOI_SOURCE_DIR (chezmoi source-path)
source "$CHEZMOI_SOURCE_DIR/.chezmoiscripts/.00_helpers.fish"

if is_macos
    ask_sudo
    task "Setting macOS defaults"

    command osascript -e 'tell application "System Preferences" to quit' >/dev/null 2>&1
end
