#!{{ lookPath "fish" }}

# vim:ft=fish

set CHEZMOI_SOURCE_DIR (chezmoi source-path)
source "$CHEZMOI_SOURCE_DIR/.chezmoiscripts/.00_helpers.fish"

function music
    sub_task Music

    # Disable the Ping sidebar in iTunes
    defaults write com.apple.iTunes disablePingSidebar -bool true

    # Disable all the other Ping stuff in iTunes
    defaults write com.apple.iTunes disablePing -bool true

    # Make ⌘ + F focus the search input in iTunes
    defaults write com.apple.iTunes NSUserKeyEquivalents -dict-add "Target Search Field" "@F"
end

if is_macos
    music
end
