#!{{ lookPath "fish" }}

# vim:ft=fish

source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.00_helpers.fish"

function terminal
    sub_task Terminal

    # Only use UTF-8 in Terminal.app
    defaults write com.apple.terminal StringEncodings -array 4

    # Enable Secure Keyboard Entry in Terminal.app
    # See: https://security.stackexchange.com/a/47786/8918
    defaults write com.apple.terminal SecureKeyboardEntry -bool true

    # Disable the annoying line marks
    defaults write com.apple.Terminal ShowLineMarks -int 0
end

if is_macos
    quit_app Terminal
    terminal
end
