#!{{ lookPath "fish" }}

# vim:ft=fish

source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.00_helpers.fish"

function keyboard
    sub_task Keyboard
    #
    # Apple Symbolic HotKeys Ids
    # To find this symbolic hot keys indices do:
    # 1. open Terminal
    # 2. restore defaults in System Preferences > Keyboard > Shortcuts
    # 3. defaults read com.apple.symbolichotkeys > current.txt
    # 4. enable/disable given symbolic hot key in System Preferences > Keyboard > Shortcuts
    # 5. defaults read com.apple.symbolichotkeys | diff -C 5 current.txt -
    # 6. restore defaults in System Preferences > Keyboard > Shortcuts
    #
    # enum {
    #    kSHKMoveFocusToTheMenuBar                   = 7,    // Ctrl, F2
    #    kSHKMoveFocusToTheDock                      = 8,    // Ctrl, F3
    #    kSHKMoveFocusToActiveOrNextWindow           = 9,    // Ctrl, F4
    #    kSHKMoveFocusToTheWindowToolbar             = 10,   // Ctrl, F5
    #    kSHKMoveFocusToTheFloatingWindow            = 11,   // Ctrl, F6
    #    kSHKTurnKeyboardAccessOnOrOff               = 12,   // Ctrl, F1
    #    kSHKChangeTheWayTabMovesFocus               = 13,   // Ctrl, F7
    #    kSHKTurnZoomOnOrOff                         = 15,   // Opt, Cmd, 8
    #    kSHKZoomIn                                  = 17,   // Opt, Cmd, =
    #    kSHKZoomOut                                 = 19,   // Opt, Cmd, -
    #    kSHKInvertColors                            = 21,   // Ctrl, Opt, Cmd, 8
    #    kSHKTurnImageSmoothingOnOrOff               = 23,   // Opt, Cmd, Backslash "\"
    #    kSHKIncreaseContrast                        = 25,   // Ctrl, Opt, Cmd, .
    #    kSHKDecreaseContrast                        = 26,   // Ctrl, Opt, Cmd, ,
    #    kSHKMoveFocusToNextWindow                   = 27,   // Cmd, `
    #    kSHKSavePictureOfScreenAsAFile              = 28,   // Shift, Cmd, 3
    #    kSHKCopyPictureOfScreenToTheClipboard       = 29,   // Ctrl, Shift, Cmd, 3
    #    kSHKSavePictureOfSelectedAreaAsAFile        = 30,   // Shift, Cmd, 4
    #    kSHKCopyPictureOfSelectedAreaToTheClipboard = 31,   // Ctrl, Shift, Cmd, 4
    #    kSHKMissionControl                          = 32,   // Ctrl, Arrow Up
    #    kSHKApplicationWindows                      = 33,   // Ctrl, Arrow Down
    #    kSHKShowDesktop                             = 36,   // F11
    #    kSHKMoveFocusToTheWindowDrawer              = 51,   // Opt, Cmd, `
    #    kSHKTurnDockHidingOnOrOff                   = 52,   // Opt, Cmd, D
    #    kSHKMoveFocusToStatusMenus                  = 57,   // Ctrl, F8
    #    kSHKTurnVoiceOverOnOrOff                    = 59,   // Cmd, F5
    #    kSHKSelectThePreviousInputSource            = 60,   // Ctrl, Space bar
    #    kSHKSelectNextSourceInInputMenu             = 61,   // Ctrl, Opt, Space bar
    #    kSHKShowDashboard                           = 62,   // F12
    #    kSHKShowSpotlightSearch                     = 64,   // Cmd, Space bar
    #    kSHKShowFinderSearchWindow                  = 65,   // Opt, Cmd, Space bar
    #    kSHKLookUpInDictionary                      = 70,   // Shift, Cmd, E
    #    kSHKHideAndShowFrontRow                     = 73,   // Cmd, Esc
    #    kSHKActivateSpaces                          = 75,   // F8
    #    kSHKMoveLeftASpace                          = 79,   // Ctrl, Arrow Left
    #    kSHKMoveRightASpace                         = 81,   // Ctrl, Arrow Right
    #    kSHKShowHelpMenu                            = 98,   // Shift, Cmd, /
    #    kSHKSwitchToDesktop1                        = 118,  // Ctrl, 1
    #    kSHKSwitchToDesktop2                        = 119,  // Ctrl, 2
    #    kSHKSwitchToDesktop3                        = 120,  // Ctrl, 3
    #    kSHKSwitchToDesktop4                        = 121,  // Ctrl, 4
    #    kSHKShowLaunchpad                           = 160,  //
    #    kSHKShowAccessibilityControls               = 162,  // Opt, Cmd, F5
    #    kSHKShowNotificationCenter                  = 163,  //
    #    kSHKTurnDoNotDisturbOnOrOff                 = 175,  //
    #    kSHKTurnFocusFollowingOnOrOff               = 179,  //
    # };

    # Make macOS react faster to keystrokes.
    defaults write NSGlobalDomain KeyRepeat -int 4
    defaults write NSGlobalDomain InitialKeyRepeat -int 15

    # Disable press-and-hold for keys in favor of key repeat
    defaults write NSGlobalDomain ApplePressAndHoldEnabled -bool false

    # Enabling full keyboard access for all controls (enable Tab in modal dialogs, menu windows, etc.)
    defaults write NSGlobalDomain AppleKeyboardUIMode -int 3

    # Disable "Enable Slow Keys"
    defaults write com.apple.universalaccess slowKey -bool false

    # Disable invert colors
    defaults write com.apple.symbolichotkeys.plist AppleSymbolicHotKeys -dict-add 21 "<dict><key>enabled</key><false/></dict>"

    # Turn Dock hiding on / off
    defaults write com.apple.symbolichotkeys.plist AppleSymbolicHotKeys -dict-add 52 "<dict><key>enabled</key><false/></dict>"

    # Turn VoiceOver on / off
    defaults write com.apple.symbolichotkeys.plist AppleSymbolicHotKeys -dict-add 59 "<dict><key>enabled</key><false/></dict>"

    # Disable spotlight on cmd-space so Alfred can use it
    defaults write com.apple.symbolichotkeys.plist AppleSymbolicHotKeys -dict-add 64 "<dict><key>enabled</key><false/></dict>"
    defaults write com.apple.symbolichotkeys.plist AppleSymbolicHotKeys -dict-add 65 "<dict><key>enabled</key><false/></dict>"

    # Disable Mission Control move keys:
    #
    # Left
    defaults write com.apple.symbolichotkeys.plist AppleSymbolicHotKeys -dict-add 79 "<dict><key>enabled</key><false/></dict>"
    defaults write com.apple.symbolichotkeys.plist AppleSymbolicHotKeys -dict-add 80 "<dict><key>enabled</key><false/></dict>"

    # Right
    defaults write com.apple.symbolichotkeys.plist AppleSymbolicHotKeys -dict-add 81 "<dict><key>enabled</key><false/></dict>"
    defaults write com.apple.symbolichotkeys.plist AppleSymbolicHotKeys -dict-add 82 "<dict><key>enabled</key><false/></dict>"
end

if is_macos
    keyboard
end
