#!{{ lookPath "fish" }}

# vim:ft=fish

set CHEZMOI_SOURCE_DIR (chezmoi source-path)
source "$CHEZMOI_SOURCE_DIR/.chezmoiscripts/.00_helpers.fish"

function displays
    sub_task Displays

    # Enabling subpixel font rendering on non-Apple LCDs
    defaults write NSGlobalDomain CGFontRenderingFontSmoothingDisabled -bool false

    # Enabling HiDPI display modes (requires restart)"
    sudo defaults write /Library/Preferences/com.apple.windowserver DisplayResolutionEnabled -bool true

    # Disable automatically adjust brightness
    sudo defaults write /Library/Preferences/com.apple.iokit.AmbientLightSensor "Automatic Display Enabled" -bool false
end

if is_macos
    ask_sudo
    displays
end
