#!{{ lookPath "fish" }}

# vim:ft=fish

source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.00_helpers.fish"

function audio
    sub_task "Accessibility"

    defaults write com.apple.Accessibility EnhancedBackgroundContrastEnabled -bool true
end

if is_macos
    audio
end
