#!{{ lookPath "fish" }}

# vim:ft=fish

set CHEZMOI_SOURCE_DIR (chezmoi source-path)
source "$CHEZMOI_SOURCE_DIR/.chezmoiscripts/.00_helpers.fish"

function globals
    sub_task Globals

    # Disable the over-the-top focus ring animation
    defaults write NSGlobalDomain NSUseAnimatedFocusRing -bool false

    # Disable automatic light / dark mode.
    defaults delete NSGlobalDomain AppleInterfaceStyle >/dev/null 2>&1
    defaults write NSGlobalDomain AppleInterfaceStyleSwitchesAutomatically -bool false

    # Always show scrollbars
    defaults write NSGlobalDomain AppleShowScrollBars -string Always

    # Disable animations when opening and closing windows.
    defaults write NSGlobalDomain NSAutomaticWindowAnimationsEnabled -bool false

    # Increase window resize speed for Cocoa applications
    defaults write NSGlobalDomain NSWindowResizeTime -float 0.001

    # Disable animations when opening a Quick Look window.
    defaults write NSGlobalDomain QLPanelAnimationDuration -float 0

    # Expanding the save & print panels by default.
    defaults write NSGlobalDomain NSNavPanelExpandedStateForSaveMode -bool true
    defaults write NSGlobalDomain NSNavPanelExpandedStateForSaveMode2 -bool true
    defaults write NSGlobalDomain PMPrintingExpandedStateForPrint -bool true
    defaults write NSGlobalDomain PMPrintingExpandedStateForPrint2 -bool true

    # Save to disk, rather than iCloud, by default.
    defaults write NSGlobalDomain NSDocumentSaveNewDocumentsToCloud -bool false

    # Disable smart dashes as they’re annoying when typing code
    defaults write NSGlobalDomain NSAutomaticDashSubstitutionEnabled -bool false

    # Disable automatic period substitution as it’s annoying when typing code
    defaults write NSGlobalDomain NSAutomaticPeriodSubstitutionEnabled -bool false

    # Disable smart quotes as they’re annoying when typing code
    defaults write NSGlobalDomain NSAutomaticQuoteSubstitutionEnabled -bool false

    # Disable auto-correct
    defaults write NSGlobalDomain NSAutomaticSpellingCorrectionEnabled -bool false

    # Disable Capitalize words automatically
    defaults write NSGlobalDomain NSAutomaticCapitalizationEnabled -bool false

    # Adding a context menu item for showing the Web Inspector in web views
    defaults write NSGlobalDomain WebKitDeveloperExtras -bool true

    # Turn off auto-termination
    defaults write NSGlobalDomain NSDisableAutomaticTermination -bool true

    # Disable auto correct and other substitutions
    defaults write NSGlobalDomain NSAutomaticCapitalizationEnabled -bool false
    defaults write NSGlobalDomain NSAutomaticDashSubstitutionEnabled -bool false
    defaults write NSGlobalDomain NSAutomaticPeriodSubstitutionEnabled -bool false
    defaults write NSGlobalDomain NSAutomaticQuoteSubstitutionEnabled -bool false
    defaults write NSGlobalDomain NSAutomaticSpellingCorrectionEnabled -bool false

    # -------

    # Disable the "Are you sure you want to open this application?” dialog
    defaults write com.apple.LaunchServices LSQuarantine -bool false

    # Disable the crash reporter
    defaults write com.apple.CrashReporter DialogType -string none

    # Set Help Viewer windows to non-floating mode
    defaults write com.apple.helpviewer DevMode -bool true

    # Completely Disable Dashboard
    defaults write com.apple.dashboard mcx-disabled -bool true

    # Dashboard: "Off"
    defaults write com.apple.dashboard dashboard-enabled-state -int 1

    # Reveal IP address, hostname, OS version, etc. when clicking the clock in the login window
    sudo defaults write /Library/Preferences/com.apple.loginwindow AdminHostInfo HostName

    # Disable game center. Who uses that thing?
    sudo launchctl unload -w /System/Library/LaunchAgents/com.apple.gamed.plist 2>/dev/null

    # Automatically quit printer app once the print jobs complete.
    defaults write com.apple.print.PrintingPrefs "Quit When Finished" -bool true

    # Avoid creation of .DS_Store files on network volumes.
    # defaults write com.apple.desktopservices DSDontWriteNetworkStores -bool true

    # Enable AirDrop over Ethernet
    defaults write com.apple.NetworkBrowser BrowseAllInterfaces -bool true

    # Disable disk image verification.
    defaults write com.apple.frameworks.diskimages skip-verify -bool true
    defaults write com.apple.frameworks.diskimages skip-verify-locked -bool true
    defaults write com.apple.frameworks.diskimages skip-verify-remote -bool true
end

if is_macos
    sudo -v
    globals
end
