{{- if .flags.decrypt -}}
{{- if .flags.work -}}
set -gx ANTHROPIC_API_KEY {{ .anthropic.work }}
set -gx ARTIFACTORY_TOKEN {{ .artifactory }}
set -gx GEMINI_API_KEY {{ .google.gemini.work }}
set -gx OLLAMA_URL {{ .ollama.work }}
set -gx OPENAI_URL http://localhost:11211/v1/chat/completions
{{- end -}}
{{- if .flags.personal -}}
set -gx ANTHROPIC_API_KEY {{ .anthropic.home }}
set -gx CLOUDFLARE_API_TOKEN {{ .cloudflare.api_token }}
set -gx GEMINI_API_KEY {{ .google.gemini.home }}
set -gx HF_TOKEN {{ .huggingface.token }}
set -gx OLLAMA_URL {{ .ollama.home }}
set -gx OPENAI_KEY {{ .openai.home }}
set -gx OPENAI_API_KEY $OPENAI_KEY
{{- end }}

set -gx GITHUB_TOKEN_HOME {{ .github.tokens.home }}
set -gx GITHUB_TOKEN_WORK {{ .github.tokens.work }}

set -gx CACHIX_AUTH_TOKEN {{ .cachix.token }}
set -gx OP_ACCOUNT {{ .onepassword.account }}

set -gx GH_TOKEN $GITHUB_TOKEN_HOME
set -gx GITHUB_TOKEN $GITHUB_TOKEN_HOME
set -gx GITHUB_API_TOKEN $GITHUB_TOKEN
set -gx NIX_CONFIG "access-tokens = github.com={{ .github.tokens.home }}"
{{- end -}}
