set -gx CLOUDFLARE_API_TOKEN {{ onepasswordRead "op://Private/Cloudflare/DNS API Token" .onepasswordAccount }}
set -gx GITHUB_TOKEN {{ onepasswordRead "op://Private/GitHub/PAT" .onepasswordAccount }}
set -gx HF_TOKEN {{ onepasswordRead "op://Private/Hugging Face/API Token Read" .onepasswordAccount }}
set -gx OPENAI_KEY {{ onepasswordRead "op://Shared/OpenAI/API Key" .onepasswordAccount }}
set -gx TMDB_TOKEN_V3 {{ onepasswordRead "op://Private/The Movie DB/Token" .onepasswordAccount }}

set -gx CF_TOKEN $CLOUDFLARE_API_TOKEN
set -gx OPENAI_API_KEY $OPENAI_KEY
