# sudo systemctl start blackd
# sudo systemctl enable blackd
# sudo systemctl status blackd

[Unit]
Description=Black Formatter Service

[Service]
Type=simple
ExecStart=/home/dsully/.local/bin/blackd --bind-host=127.0.0.1
WorkingDirectory=/home/dsully
Restart=on-failure

[Install]
WantedBy=default.target
