{{- if eq .chezmoi.hostname "server" -}}
# vim:ft=systemd
[Unit]
Description=Run Stash at startup
After=network.target

[Service]
Environment="PATH=/home/linuxbrew/.linuxbrew/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Type=simple
ExecStart=/home/dsully/.stash/bin/stash --nobrowser --config /home/dsully/.stash/config.yml
Restart=on-failure

[Install]
WantedBy=default.target
{{- end -}}
