{{- if eq .chezmoi.hostname "server" -}}
# vim:ft=systemd
[Unit]
Description=Vopono
After=network.target

[Service]
WorkingDirectory=%h/.config/vopono
ExecStart=/usr/bin/vopono exec \
    --interface=eth0 \
    --forward=9091 \
    --provider=custom \
    --protocol=Wireguard \
    --custom-netns-name=vpn \
    --custom=protonvpn-us-ca80.conf \
    --no-killswitch \
    --allow-host-access \
    --custom-port-forwarding=protonvpn \
    --port-forwarding-callback=%h/.local/bin/qbit-port-updater \
    '/usr/bin/qbittorrent-nox --webui-port=9091 --profile=/bits/media/torrents'
Type=simple
Restart=on-failure

[Install]
WantedBy=default.target
{{- end -}}
