{{- if and .flags.decrypt (eq .chezmoi.os "darwin") -}}
{
 "active_user": "{{ .github.home.username -}}@mastodon.social",
 "apps": {
  "mastodon.social": {
   "base_url": "https://mastodon.social",
   "client_id": "{{- .mastodon.client_id -}}",
   "client_secret": "{{- .mastodon.client_secret -}}",
   "instance": "mastodon.social"
  }
 },
 "users": {
  "{{ .github.home.username -}}@mastodon.social": {
   "access_token": "{{- .mastodon.access_token -}}",
   "instance": "mastodon.social",
   "username": "{{ .github.home.username }}"
  }
 }
}
{{- end -}}
