{{- if and .flags.decrypt (not .flags.ephemeral) -}}
token = "{{- .cloudflare.api_token -}}"
zoneid = "{{- .cloudflare.zone_id -}}"
hostname = "{{ .chezmoi.fqhn}}"
external = "{{- .cloudflare.external -}}"
{{ end -}}
